<form action="/banner" method="POST" enctype="multipart/form-data">
    <div class="form-floating mb-3">
        <input name="title" type="text" class="form-control" id="title" placeholder="Banner title...">
        <label for="title">Title</label>
    </div>

    <div class="mb-3">
        <label for="image">Image</label>
        <input name="image" type="file" class="form-control" id="image">
    </div>

    <div class="form-floating mb-3">
        <input name="expire_date" type="date" class="form-control" id="expire_date">
        <label for="expire_date">Email address</label>
    </div>

    <button class="btn btn-success">Add Banner</button>
</form>